*{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  font-style: italic;
}
a:visited{
  color: inherit;
}
a:hover{
  text-decoration: underline;
}
body{
  background: white;
  font-family: "Times New Roman", Helvetica, Arial
  font-size : 15px;
}
header{
  margin: auto;
  padding: inherit;
}
ul{
  list-style-type: none;
}
nav{
  overflow: hidden;
}
nav a{
  float: left;
}
.top-bar{
  background-image: url("../../img/bg.png");
  width: 1920px;
  height: 220px;
}

.top-bar a{
  color: #fff
}
.top-bar a:hover{
  color:#000;

}

.top-bar nav{
  width: 500px;
  text-align: right;
  padding-left: 1100px;
  padding-right: 200px;
}

.bottom-bar{
  background: #B9DCE3;
  margin: auto;
  padding-left:220px;
}

.bottom-bar a{
  color: black;
  font-weight: bold;
}
.bottom-bar a:hover{
  color: #fff;

}
